@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

.accordion {
  border: 1px solid #ccc;
  border-top: none;
  font-family: 'Nunito Sans', sans-serif !important;
}


.label {
  background-color: #f6f6f6;
  border-top: 1px solid #c6c9ca;
  color: black;
  min-width: 80px;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label span:not(:first-child) {
  color: #01A982;
  font-size: 18px;
}

.label:hover {
  background-color: #e7e7e7;
}

.label.is_expanded {
  position: relative;
  background-color: transparent;
  border-bottom: none
}

.label.is_expanded::after {
  display: block;
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #01A982;
}


.content {
  max-height: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.content.is_expanded {
  max-height: 1000px;
  transition: max-height 0.3s ease-in;
}

.content .content_div {
  padding: 16px;
}

.content .content_div img {
  width: 100%
}

.content .content_div .content_title {
  display: block;
  padding-top: 10px;
  color: #000000;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
}

.content .content_div .content_description {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.content .content_div .content_link {
  text-decoration: none;
  color: #01A982;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}

.content .content_div .content_link span{ 
  transition: margin 0.5s ease;
}

.content .content_div .content_link:hover span {
  margin-left: 5px;
}